body{
    background-image: url("../images/background.jpg");
    background-size: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    
}
h1{
    font-size: 50px;
    text-decoration:overline;
    margin: 5% 30%;
}
h2{
    font-size: 40px;
}
a, p{
    
    font-size: 20px;
}
a:hover{
    color: rgb(241, 52, 14);
}
.linkVer{
    font-size: 15px;
    margin: 0.25cm;
    border: solid 1px;
    color:black;
    padding: 0.10cm;
    text-decoration: none;
}
.error{
    color: red;
    border: solid red;
}
form{
    margin: 1cm;
}
li{
    list-style: none;
    margin: 0.30cm;
}
table {
    width: 60%;
    border: 1px solid #000;
 }
 th, td {
    width: 25%;
    text-align: left;
    vertical-align: top;
    border: 1px solid #000;
 }

 footer{
    margin-top: 4cm;
    margin-bottom: 1cm;
 }
 .pfooter{
    font-size: 15px;
    font-family: fantasy;
 }
